$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@media (max-width: $sm) {
  .contact-area {
    margin-top: 15rem;
    margin-bottom: 10rem;

    .contact-form-header {
      h1 {
        font-size: 3.4rem;
        line-height: 3.8rem;
      }
      h4 {
        font-size: 1.7rem;
        line-height: 2rem;
      }
      p {
        font-size: 1.4rem;
      }
    }

    .contact-form {
      .form-item {
        h4 {
          font-size: 1.6rem;
        }
        .form-input {
          font-size: 1.4rem;
          height: 3rem;
        }
        p {
          font-size: 1.5rem;
        }
      }
      .form-sbmt {
        margin-top: 2rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        height: 4rem;
        width: 200px;
        font-size: 1.2rem;
      }
    }
  }

  .contact-form,
  .contact-form-header {
    width: 100%;
    margin: auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .form-input {
    width: 100%;
    height: 3.25rem;
    font-size: 1.4rem;
  }

  .form-input-ta {
    width: 100%;
    font-size: 1.4rem;
  }

  .header-container {
    width: 93%;
  }

  .navbar-mob {
    height: 20vh;
    width: 93%;
    margin-top: 5.6rem;
    z-index: 15;
    nav {
      display: block;
      padding-right: 3.7rem;
      padding-left: 3.7rem;
      width: 100%;
      .mob-nav-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        .nav-item-mob {
          width: 100%;
        }
        .nav-item-mob a {
          text-decoration: none;
          color: white;
          font-weight: 800;
          font-size: 1.4rem;
          font-family: "ResistSansBold", sans-serif;
          transition: 0.4s all;
        }

        .nav-item-mob a:hover {
          color: rgba(235, 78, 230, 1);
        }

        .gren-mob a {
          color: #4eebc0;
        }

        .gren-mob a:hover {
          color: rgba(235, 78, 230, 1);
        }

        .nav-divider-mob {
          width: 100%;
          height: 1px;
          background-color: #4eebc0;
        }
      }
    }
  }
  #webel {
    display: none;
  }
  .nav-mob {
    display: block;

    .nav-mob-ham {
      color: white;
      .container {
        display: inline-block;
        cursor: pointer;
      }

      .bar1,
      .bar2,
      .bar3 {
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
      }

      .change .bar1 {
        transform: translate(0, 8px) rotate(-45deg);
      }

      .change .bar2 {
        opacity: 0;
      }

      .change .bar3 {
        transform: translate(0, -10px) rotate(45deg);
      }
      img {
        width: 3rem;
        height: 2.1rem;
        cursor: pointer;
      }

      img:hover {
        opacity: 0.6;
      }
    }
  }
  nav {
    display: none;
  }

  .nav-area {
    padding-left: 3.7rem;
    padding-right: 3.7rem;

    img {
      width: auto;
      height: 15px;
    }
  }

  .loading-content img {
    width: auto;
    height: 3rem;
    animation: scaler 1s linear forwards;
    animation-iteration-count: 1;
  }

  /* START OF HERO SECTION */

  .hero-container {
    .hero-exp {
      position: absolute;
      top: 60%;
      left: 32%;
      right: 2.5rem;
      transform: translate(-50%, -50%);
      margin-left: 1.5rem;

      h1 {
        margin-top: 2.5rem;
        color: black;
        font-size: 4.4rem;
        margin-bottom: 2rem;
        text-transform: uppercase;
        line-height: 40px;
        font-family: "ResistSansBold", sans-serif;
        letter-spacing: 6%;
      }

      p {
        color: black;
        font-size: 2.2rem;
        line-height: 28px;
      }
    }
  }
  .hero-btn-area {
    margin-top: 2.2rem;
    .corp-btn {
      width: 200px;
      height: 4rem;
      border: double 3px transparent;
      border-radius: 30px;
      background-color: black;
    }

    .corp-link {
      display: block;
      background-color: black;
      color: white;
      border-radius: 30px;
      text-align: center;
      text-decoration: none;
    }

    .corp-link h4 {
      color: white;
      font-size: 1.3rem;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
  /* END OF HERO SECTION */

  /* EXPAND */
  .expand-area {
    background-color: black;
    padding: 3rem 1.5rem;
    .expand-container {
      h1 {
        font-size: 2.8rem;
        line-height: 3rem;
        color: white;
        text-align: left;
      }

      h3 {
        font-size: 3.6rem;
        text-align: left;
        text-transform: uppercase;
        margin-top: 1.5rem;
        margin-bottom: 3rem;
        line-height: 4rem;
      }
    }
  }
  // END OF EXPAND

  // GRID AREA START

  .landing-grid-area {
    overflow-x: hidden !important;
    width: 100%;
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 0rem;
    .landing-grid-container {
      width: 100%;
      .lnd-grid-list {
        .lnd-grid-item {
          display: grid;
          grid-template-columns: 1fr;
          align-items: center;
          .lnd-item-img-area {
            video {
              height: 45rem;
              width: 100vw;
              border-radius: 0px;
            }
          }
          .lnd-item-wrt-area {
            padding-left: 1rem;
            padding-right: 1rem;
            h1 {
              font-size: 4rem;
              line-height: 40px;
              text-align: center;
              text-transform: uppercase;
            }

            p {
              margin-top: 1rem;
              color: white;
              font-size: 2rem;
              line-height: 20px;
            }
          }
        }

        .lnd-grid-item.img-right {
          h1,
          p {
            text-align: left;
          }
          .lnd-item-img-area {
            text-align: center;
            margin-top: 1.5rem;
          }
        }
        .lnd-grid-item.img-left {
          h1,
          p {
            text-align: left;
          }
          .lnd-item-img-area {
            text-align: center;
            order: 1;
            margin-top: 1.5rem;
          }
        }
      }
    }
  }

  .lnd-grid-list .lnd-grid-item:not(:first-child) {
    margin-top: 5rem;
  }

  // GRID AREA END

  //LANDING MESSAGE START

  .landing-message {
    margin-top: -0.5rem;
    .landing-m-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 3rem;
      padding-bottom: 3rem;
      .landing-m-content {
        h2 {
          font-size: 3.6rem;
          text-align: center;
          line-height: 38px;
          font-family: "ResistSansBold", sans-serif;
        }
      }
    }
  }

  //LANDING MESSAGE END

  // LANDING INFO START

  .landing-info {
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
    .landing-info-container {
      width: 100%;
      margin: auto;
      padding: 0rem 2rem;
      .lnd-info-list {
        .lnd-info-item {
          color: white;
          display: grid;
          grid-template-columns: 1fr;
          gap: 1rem;
          h2 {
            font-size: 2rem;
            line-height: 30px;
          }
          p {
            font-size: 1.6rem;
            line-height: 30px;
          }
        }
      }
    }
  }

  .lnd-info-list .lnd-info-item:not(:first-child) {
    margin-top: 3.5rem;
  }

  // LANDING INFO END

  //LANDING LINKS START
  .landing-linksx {
    margin-top: 5rem;
    margin-bottom: 5rem;
    .landing-links-container {
      padding: 0 2rem;
      .landing-links {
        justify-content: start;
        align-items: flex-start;
        svg {
          width: 2rem;
          height: 2rem;
        }
        h1 {
          font-size: 3.4rem;
          text-align: left;
          line-height: 3.8rem;
          margin-bottom: 2rem;
        }
        .lnd-links {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 3rem;
          .lnd-item {
            a {
              color: white;
              text-decoration: none;
              .lnd-link-icon {
                height: 25px;
                width: auto;
              }
            }
          }
        }
      }
    }
  }

  //LANDING LINKS END

  //START OF CORPO
  .corporate {
    background-color: white;
    .corp-container {
      padding: 2.5rem 2.5rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .corp-header {
        margin-top: 5rem;
        margin-bottom: 3.75rem;
        h1 {
          font-size: 3.6rem;
          text-align: left;
          line-height: 38px;
          font-family: "ResistSansBold", sans-serif;
        }
        p {
          margin-top: 2.5rem;
          font-size: 2rem;
          text-align: left;
          line-height: 27px;
        }
      }
    }

    .corp-btn-area {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 5rem;
      .corp-btn {
        width: 200px;
        height: 4rem;
        border: double 1px transparent;
        border-radius: 30px;
        background-color: black;
        .corp-link {
          display: block;
          background-color: black;
          color: white;
          border-radius: 30px;
          text-align: center;
          text-decoration: none;
          .corp-flex {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            h4 {
              color: white;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  /* END OF CORP */
  footer {
    .footer-container {
      .footer-btn {
        height: 4rem;
        width: 200px;
        font-size: 1.1rem;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-top: 5rem;
      padding-bottom: 5rem;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      .footer-logo {
        .nav-link {
          img {
            height: 2.5rem;
          }
        }
      }
      p {
        color: #8e8e8e;
        font-size: 1.8rem;
        text-align: left;
        margin-top: 2rem;
      }
      .footer-links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        margin-top: 3.2rem;
        .footer-item {
          a {
            .footer-link-icon {
              color: white;
              height: 21px;
              width: auto;
            }
          }
        }
      }
      .footer-btn-area {
        margin-top: 5.5rem;
        .corp-btn {
          width: 200px;
          height: 100%;
          border: double 1px transparent;
          border-radius: 30px;
          background-color: black;
          .corp-link {
            .corp-flex {
              h4 {
                color: black;
                font-size: 14px;
                text-transform: uppercase;
                -webkit-text-fill-color: transparent;
              }
            }
          }
        }
      }
    }
  }

  /* FOOTER */
}
