@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: white;
  color: black;
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
}

/* START OF FOOTER */
footer {
  background-color: black;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  padding-bottom: 12.5rem;
}

.footer-container p {
  color: #8e8e8e;
  font-size: 2rem;
  text-align: center;
  margin-top: 3.2rem;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 3.2rem;
}

.footer-link-icon {
  color: white;
  height: 28px;
  width: 34px;
}

.footer-btn-area {
  margin-top: 5.5rem;
}

.footer-btn {
  color: black;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 10px;
  border: 5px solid white;
  background-color: rgba(217, 217, 217, 1);
  font-size: 1.8rem;
  text-decoration: none;
}

/* END OF FOOTER */

/* START OF CONTACT */
.contact-section {
  background-color: rgba(247, 255, 150, 1);
}

.contact-sec-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  padding-bottom: 12.5rem;
  color: black;
}

.contact-section h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 5rem;
  line-height: 70px;
  text-align: center;
}

.contact-section p {
  margin-top: 5rem;
  font-size: 2.4rem;
  text-align: center;
}

.contact-section a {
  font-weight: 800;
  font-size: 3rem;
  color: black;
  margin-top: 5rem;
}

/* END OF CONTACT */

/* START OF BELIEVE */
.believe-sec {
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.believe-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  margin: auto;
}

.believe-header h1 {
  text-align: center;
  line-height: 50px;
  font-weight: 900;
  color: black;
  font-size: 6rem;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  padding: 0.75rem;
}

.believe-header h1::before {
  content: "";
  background-color: rgba(183, 150, 255, 1);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: rotate(-1deg);
}

.believe-header h1::after {
  content: "";
  background-image: url("../images/star.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  resize: both;
  overflow: scroll;
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: -1;
  top: -38px;
  left: -48px;
}

.believe-content .content p {
  color: black;
  font-weight: 400;
  font-size: 2rem;
  line-height: 40px;
}

.believe-content .content p span {
  color: black;
  font-weight: 700;
  font-size: 2rem;
  line-height: 40px;
}

.p1 {
  margin-top: 7.5rem;
}

.p2,
.p3 {
  margin-top: 3.5rem;
}

/* END OF BELIEVE */

/* START OF GRID */
.grid-sec {
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  padding-top: 15rem;
  padding-bottom: 7.5rem;
}

.grid-sec-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1200px;
  margin: auto;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 10rem;
}

.right-text {
  text-align: right;
}
.bged-text {
  position: relative;
  display: inline;
  z-index: 1;
}
.content-header h1,
.bged-text span {
  font-size: 4.6rem;
  font-weight: 900;
  text-transform: uppercase;
}

.content-par {
  margin-top: 2.5rem;
}

.content-par p {
  font-size: 2rem;
}

#comparison img,
.content-img img {
  height: auto;
  width: 400px;
}

.content-area {
  margin-top: -15rem;
  position: relative;
}

.yellow-back::before {
  content: "";
  background-color: rgba(247, 255, 150, 1);
  height: 135%;
  width: 109%;
  position: absolute;
  z-index: -1;
  top: -14px;
  left: -11px;
  transform: rotate(-1deg);
}

.purple-back::before {
  content: "";
  background-color: rgba(183, 150, 255, 1);
  height: 135%;
  width: 109%;
  position: absolute;
  z-index: -1;
  top: -14px;
  left: -11px;
  transform: rotate(-1deg);
}

.c-right:after {
  content: "";
  background-image: url("../images/star.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  resize: both;
  overflow: scroll;
  height: 40px;
  width: 40px;
  position: absolute;
  top: -38px;
  right: -48px;
  transform: rotate(200deg);
}

.c-left:after {
  content: "";
  background-image: url("../images/star.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  resize: both;
  overflow: scroll;
  height: 40px;
  width: 40px;
  position: absolute;
  top: -38px;
  left: -48px;
  transform: rotate(200deg);
}

.grid-list .grid-2:not(:first-child) {
  margin-top: 15rem;
}

/* END OF GRID */

/* START OF SOCIAL LINKS */
.social-sec {
  background-color: rgba(247, 255, 150, 1);
  margin-top: 5rem;
}

.social-sec-container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 7.5rem;
  padding-left: 7.5rem;
}

.social-link-icon {
  color: black;
  height: 40px;
  width: 40px;
}

/* END OF SOCIAL LINKS */

/* START OF HEADER */

.header-logo img {
  height: auto;
  width: 200px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 10rem;
}

.desktop-nav nav {
  display: flex;
  gap: 5rem;
}

.desktop-nav nav ul {
  list-style: none;
  display: flex;
  gap: 5rem;
}

.nav-item a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  font-size: 2rem;
  color: black;
}

.contact-btn {
  color: black;
  padding: 0.25rem 1.5rem;
  text-transform: uppercase;
  font-weight: 800;
  border-radius: 10px;
  border: 5px solid black;
  background-color: transparent;
  font-size: 2rem;
  text-decoration: none;
}

.mobile-menu {
  display: none;
}
.mobile-icon {
  display: none;
}

.mob-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.5rem;
}

.mobile-menu nav {
  display: flex;
  gap: 5rem;
}

.mobile-menu nav ul {
  list-style: none;
  display: flex;
  gap: 5rem;
}

.menu-icon {
  height: 35px;
  width: 35px;
}

.ham-btn {
  color: black;
  padding: 0.25rem 1.5rem;
  text-transform: uppercase;
  font-weight: 800;
  border-radius: 10px;
  border: 0px solid black;
  background-color: transparent;
  font-size: 2rem;
  text-decoration: none;
  cursor: pointer;
}

.ham-btn:hover {
  color: rgba(183, 150, 255, 1);
}

/* END OF HEADER */

/* START OF HERO */

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10rem;
}

.hero-content {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.hero-content h1 {
  font-size: 7rem;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 80px;
}

.hero-content p {
  font-size: 3rem;
  line-height: 48px;
  margin-top: 2.5rem;
}

.hero-btn-area {
  margin-top: 3.5rem;
}

.early-btn {
  color: black;
  padding: 0.25rem 1.5rem;
  text-transform: uppercase;
  font-weight: 800;
  border-radius: 10px;
  border: 5px solid black;
  background-color: transparent;
  font-size: 2.8rem;
  text-decoration: none;
}

.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}

.hero-container {
  background-color: rgb(244 246 246);
  border-radius: 25px;
}

.hero {
  padding: 0rem 10rem;
}

.hero-back::before {
  content: "";
  background-color: rgba(183, 150, 255, 1);
  height: 105%;
  width: 105%;
  position: absolute;
  z-index: -1;
  top: -15px;
  left: -11px;
  transform: rotate(-1deg);
}

.bged-text-hero {
  position: relative;
  display: inline;
  z-index: 1;
}

.hero-back {
  font-size: 7rem;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 80px;
}

.hero-img-area {
  position: relative;
}

.star-1 img {
  height: 40px;
  width: 40px;
}

.star-1 {
  position: absolute;
  top: -15px;
  left: -11px;
}

/* END OF HERO */
